.main_container {
	width: 960px;
	margin: 0 auto;
	background-color: #bbfae6;
	display: flex;
	flex-wrap: wrap;
}

.header_block_1 {
	background-color: #317cde;
	width: calc(100%/12*12);
	height: 50px;
	margin-top: 15px;
}

.header_block_2 {
	background-color: #737372;
	width: calc(100%/12*12);
	height: 70px;
	margin-bottom: 20px;
}

.block_side_main {
	width: calc(100%/12*3);
}

.block_side {
	background-color: #f4ff26;
	height: 700px;
	padding-left: 10px;
}

.block_main {
	background-color: #edf7f0;
	width: calc(100%/12*9);
	
	

}
.block_main_inside {
	background-color: #c9c7c7;
	margin: 20px;
	height: 350px;
}

.text_block {
	font-size: 12px;
	margin: 20px;
	background-color: #00ff00ff;
}

.latest_products {
	background-color: #e9daed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.latest_products > div {
	width: 112px;
	height: 120px;
	border: 4px solid #1e97e3;
	
}

@media screen and (max-width: 1200px) {
	.header_block_1 {
		width: calc(100%/12*12);
	}

	.header_block_2 {
		width: calc(100%/12*12);
	}

	.block_side_main {
		width: calc(100%/12*12);
	}
	
	
}